<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Sistema</a>
  <button class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarNav">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <!-- Link para a página inicial -->
        <a class="nav-link" [routerLink]="'pagina-inicial'"
           [routerLinkActive]="'active'">Página inicial</a>
      </li>
      <li class="nav-item">
        <!-- Link para visualizar cadastros  -->
        <a class="nav-link" [routerLink]="'visualizar-tarefas'"
           [routerLinkActive]="'active'">Visualizar Cadastros</a>
      </li>
    </ul>
  </div>
</nav>
